<launch>
    <arg name="is_real" /> 
    <node pkg="wpb_home_bringup" type="wpb_home_core" name="wpb_home_core" if="$(arg is_real)" required="true">
        <param name="serial_port" type="string" value="/dev/ftdi" />
        <rosparam file="$(find xiaohu_robot)/launch/phy/params/compensation.yaml" command="load" />
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true">
        <rosparam file="$(find xiaohu_robot)/launch/phy/params/compensation.yaml" command="load" />
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" required="true" />
    <rosparam file="$(find xiaohu_robot)/launch/phy/params/simulation.yaml" command="load" unless="$(arg is_real)" />
    <node
        name="controller_spawner" pkg="controller_manager" type="spawner" unless="$(arg is_real)" required="true"
        respawn="false" output="screen" ns="/wpb_home"
        args="
            joint_state_controller
            mani_base_position_controller
            elbow_forearm_position_controller
            palm_left_finger_position_controller
            left_finger_tip_position_controller
            palm_right_finger_position_controller
            right_finger_tip_position_controller
        "
    />
    <param name="wpb_home_description" textfile="$(find xiaohu_robot)/launch/gazebo/models/robot.model" unless="$(arg is_real)" />
    <node name="gazebo_wpb_home_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" unless="$(arg is_real)" required="true">
        <remap from="robot_description" to="wpb_home_description" />
        <remap from="/joint_states" to="/wpb_home/joint_states" />
    </node>
    <node name="wpb_home_sim" pkg="wpr_simulation" type="wpb_home_sim" unless="$(arg is_real)" required="true" />
</launch>