<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find xiaohu_robot)/robot/robot.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam file="$(find xiaohu_robot)/manipulator/params/compensation.yaml" command="load" />
    </node>
</launch>