<launch>
    <include file="$(find xiaohu_robot)/launch/navigation/load_map.launch">
        <arg name="map_info" value="$(find xiaohu_robot)/maps/runtime/map.yaml" />
    </include>
    <include file="$(find xiaohu_robot)/launch/navigation/amcl.launch" />
    <include file="$(find xiaohu_robot)/launch/navigation/move_base.launch"/>
</launch>
