<launch>
    <node pkg="xiaohu_robot" type="init_position_node" name="init_position_node" />
    <node pkg="xiaohu_robot" type="task_controller_node" name="task_controller_node" output="screen" />
    <node pkg="xiaohu_robot" type="temperature_measurement_node" name="temperature_measurement_node" output="screen" />
</launch>